<%= simple_form_for quote, html: { class: "quote form" } do |f| %>
  <%= form_error_notification(quote) %>

  <%= f.input :name, wrapper_html: { class: "quote__name" }, input_html: { autofocus: true } %>

  <div class="quote__actions">
    <%= link_to "Cancel", quotes_path, class: "btn btn--light" %>
    <%= f.submit class: "btn btn--secondary" %>
  </div>
<% end %>
